///logo
.logo {
  height: 3.25rem;
  margin-left: 2rem;
}
///searchbar
.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  @media only screen and(max-width:$bp-smaller) {
    order: 1;
    flex: 0 0 100%;
    background-color: var(--color-grey-light-2);
  }
  &__input {
    font-family: inherit;
    font-size: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    color: inherit;
    padding: 0.7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all 0.2s;
    margin-right: -3.5rem;

    &:focus {
      outline: none;
      width: 100%;
      @media only screen and(max-width:$bp-smaller) {
        width: 90%;
      }
    }
    //change placeholder's font-size & color
    &::-webkit-input-placeholder {
      font-size: 100;
      color: var(--color-grey-light-4);
    }
  }
  //__input & __button are siblings (their parent element is search)
  // using + to show the button's property when input is focused
  &__input:focus + &__button {
    background-color: var(--color-grey-light-3);
    transition: 0.5s;
    transform: rotate(360deg);
  }
  &__button {
    border: none;
    background-color: var(--color-grey-light-2);
    width: auto;
    &:focus {
      outline: none;
    }
    &:active {
      transform: translateY(3px);
    }
  }
  &__icon {
    height: 2rem;
    width: 2rem;
    //change the color of svg file
    fill: var(--color-grey-dark-3);
  }
}
///usernav
.user-nav {
  display: flex;
  align-items: center;
  align-self: stretch;
  //select all children elements of user-nav by using > *
  & > * {
    padding: 0 2rem;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  & > *:hover {
    background-color: var(--color-grey-light-2);
  }
  &__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-2);
  }
  &__icon-box {
    position: relative;
  }
  &__notification {
    font-size: 0.8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: #fff;
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__user-photo {
    height: 4rem;
    border: solid;
    border-color: var(--color-grey-light-2);
    border-radius: 50%;
    margin-right: 1rem;
  }
}
///
/// side navigation
.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;
  display: flex;
  flex-direction: column;
  @media only screen and(max-width:$bp-medium) {
    margin-top: 0;
    flex-direction: row;
    align-items: center;
  }
  &__item {
    position: relative;
    //use :not(:last-child) to exclude the last child
    @media only screen and(max-width:$bp-medium) {
      flex: 1;
      text-align: center;
    }
    @media only screen and(max-width:$bp-smallest) {
      height: 10rem;
    }
    &:not(:last-child) {
      margin-bottom: 0.8rem;
      @media only screen and(max-width:$bp-medium) {
        margin: 0;
      }
    }
  }
  &__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-primary);
    transform: scaleY(0);
    //transform .2s then width.4s(delay for .2s)
    //width tansition with cubic-bezier
    //customize the animations
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
      background-color 0.4s;
    //transform-orgin is set to center
    transform-origin: center;
  }
  &__item:hover::before,
  //the first one is active
  &__item--active::before {
    transform: scaleY(1);
    width: 100%;
  }
  &__item:active::before {
    background-color: var(--color-primary-light);
  }

  &__link,
  &__link:visited {
    color: var(--color-grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;

    @media only screen and(max-width:$bp-medium) {
      justify-content: center;
      padding: 2rem;
    }
    @media only screen and(max-width:$bp-small) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor;
    @media only screen and(max-width:$bp-small) {
      margin-right: 0rem;
      margin-bottom: 0.7rem;
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

///
/// legal text
.legal {
  font-size: 1.2 rem;
  text-align: center;
  padding: 2.4rem;
  color: var(--color-grey-light-4);
  @media only screen and(max-width:$bp-medium) {
    display: none;
  }
}
///
/// gallery
.gallery {
  display: flex;

  &__item {
  }
  &__photo {
    width: 100%;
    //to avoid the small underneath space with the default setting of display:inline
    display: block;
  }
}
///
///overview
.overview {
  display: flex;
  align-items: center;
  border-bottom: var(--line);
  &__heading {
    margin-left: 2rem;
    font-size: 2.5rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem;
    @media only screen and(max-width:$bp-small) {
      font-size: 2.4rem;
      margin-left: 1rem;
      padding: 1rem 1rem;
      @media only screen and(max-width:$bp-smallest) {
        font-size: 2rem;
        font-weight: 400;
      }
    }
  }
  &__stars {
    //flex: 1;
    //creating some space using margin auto
    margin-right: auto;
    display: flex;
  }
  &__icon-star,
  &__icon-location {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary);
  }
  &__location {
    font-size: 1.2rem;
    display: flex;
    justify-items: center;
    align-items: center;
    @media only screen and(max-width:$bp-small) {
      flex-direction: column;
    }
  }
  &__icon-location {
    margin-right: 0.5rem;
  }
  &__rating {
    background-color: var(--color-primary-dark);
    margin-left: 3rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0rem 2rem;
    align-self: stretch;
  }
  &__rating-average {
    text-shadow: 0 0.2rem 0.1rem rgba(0, 0, 0, 0.25);
    font-size: 2.25rem;
    margin-bottom: -0.5rem;
    @media only screen and(max-width:$bp-small) {
      font-size: 1.7rem;
      margin-bottom: 0;
    }
  }
  &__rating-count {
    line-height: 1;
    font-size: 1.4rem;
    @media only screen and(max-width:$bp-smallest) {
      display: none;
    }
  }
}
///
/// button inline
.btn-inline {
  border: none;
  color: var(--color-primary);
  font-size: 1.5rem;
  border-bottom: 1px solid currentColor;
  padding: 0.1rem;
  margin-bottom: rem;
  display: inline-block;
  //transparent for both the location and "show all" button
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s;
  & span {
    margin-left: 0.3rem;
    transition: margin-left 0.2s;
  }
  &:hover {
    color: var(--color-grey-dark-1);
    span {
      margin-left: 0.8rem;
    }
  }
  &:focus {
    outline: none;
    //call the customized animation  by animation: name time time function
    animation: pulsate 1s infinite;
  }
}
//build a n animation named pulsate
//set the different state (0% 50% 100% of th time) of the animation
@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }
  50% {
    transform: scale(1.05);
    //x axis move,y axis move, blur, color
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  }
  100% {
    transform: scale(1);
    box-shadow: none;
  }
}
///
/// paragraph
/// last <p> of the container
.paragraph:not(:last-of-type) {
  margin-bottom: 2rem;
}

///
/// list
.list {
  margin: 4rem 0;
  list-style: none;
  padding: 3rem 0;
  border-top: var(--line);
  border-bottom: var(--line);
  display: flex;
  //allow the items to change line
  flex-wrap: wrap;
  //every items occupy 50% of each line
  @media only screen and(max-width:$bp-large) {
    font-size: 50%; //1rem = 8 px
    flex-wrap: nowrap;
    flex-direction: column;
  }
  &__item {
    flex: 0 0 50%;
    margin-bottom: 0.8rem;
    //put the icon before the item by using the file as background image.
  }
  &__item::before {
    content: "";
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-right: 0.7rem;
    //older browser
    background-image: url(../img/SVG/chevron-thin-right.svg);
    background-size: cover;
    //newer browser - masks
    @supports (-webkit-mask-image: url()) or (mask-image: url()) {
      background-color: var(--color-primary);
      -webkit-mask-image: url(../img/SVG/chevron-thin-right.svg);
      -webkit-mask-size: cover;
      mask-image: url(../img/SVG/chevron-thin-right.svg);
      mask-size: cover;
      background-image: none;
    }
  }
}
///
/// recommend
.recommend {
  font-size: 1.3rem;
  color: var(--color-grey-dark-2);
  display: flex;
  align-items: center;
  &__friends {
    //let these photos stay side by side all the time
    display: flex;
  }
  &__user-photo {
    //let the border outside the image
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: 0.2rem solid #fff;
  }
  &__user-photo:not(:last-child) {
    margin-right: -1.2rem;
  }
  &__count {
    margin-right: auto;
  }
}
///
/// reviews
.review {
  background-color: #fff;
  box-shadow: var(--color-shadow-light);
  padding: 3rem;
  position: relative;
  overflow: hidden;
  margin-bottom: 3.5rem;
  @media only screen and(max-width:$bp-medium) {
    padding: 2rem;
    margin-bottom: 3rem;
  }

  &__text {
    //to use z-index, position is needed
    position: relative;
    z-index: 2;
    margin-bottom: 1.5rem;
  }
  &__user {
    display: flex;
    align-items: center;
  }
  &__user-photo {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    margin-right: 1.5rem;
  }
  &__user-box {
    margin-right: auto;
  }
  &__user-name {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.2rem;
  }
  &__user-date {
    color: var(--color-grey-dark-3);
    font-size: 1rem;
  }
  &__rating {
    font-weight: 200;
    font-size: 2rem;
    color: var(--color-primary-dark);
  }
  &::before {
    //put the left double quotation mark before the review content
    content: "\201C";
    //remember to set relative to the parent element
    position: absolute;
    top: -1.5rem;
    left: -0.5rem;
    font-size: 18rem;
    color: var(--color-grey-light-2);
    font-family: serif;
    line-height: 1;
    z-index: 1;
  }
}
///
/// call to action
.cta {
  padding: 3.5rem 0;
  text-align: center;
  &__book-now {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
    @media only screen and(max-width:$bp-medium) {
      padding: 2.5rem 0;
      margin-bottom: 2rem;
    }
  }
}
.btn {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 3rem;
  border: none;
  background-image: linear-gradient(
    to right,
    var(--color-primary),
    var(--color-primary-dark)
  );
  box-shadow: var(--color-shadow-light);
  position: relative;
  //let the ouside part hidden
  overflow: hidden;
  cursor: pointer;
  & > * {
    display: inline-block;
    //let it has the same height and width of the parent
    height: 100%;
    width: 100%;
    transition: all 0.3s;
  }
  &__visible {
    padding: 2rem 7.5rem;
  }
  &__invisible {
    padding: 2rem 0rem;
    //put the invisible ouside the button
    position: absolute;
    left: 0;
    top: -100%;
  }
  &:hover &__visible {
    transform: translateY(100%);
  }
  &:hover &__invisible {
    top: 0;
  }
  &:hover {
    background-image: linear-gradient(
      to left,
      var(--color-primary),
      var(--color-primary-dark)
    );
  }
  &:focus {
    outline: none;
    animation: pulsate 1s infinite;
  }
}
