.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--color-shadow-dark);
  min-height: 50rem;
  //to set the margin to zero when width<1200px
  @media only screen and (max-width: $bp-largest) {
    margin: 0;
  }
  @media only screen and (max-width: $bp-large) {
    max-width: none;
    height: 100vh;
    width: 100vw;
  }
}
.header {
  color: var(--color-grey-dark-2);
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--line);
  @media only screen and(max-width:$bp-smaller) {
    flex-wrap: wrap;
    height: 10rem;
    align-content: space-around;
  }
}
.content {
  display: flex;
  @media only screen and(max-width:$bp-medium) {
    flex-direction: column;
  }
}
.sidebar {
  display: flex;
  //change the direction of the main axis
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-grey-dark-1);
  flex: 0 0 20%;
}
.hotel-view {
  flex: 1;
}
.detail {
  //.description & .review inherit the font-size
  font-size: 1.4rem;
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-grey-light-3);
  border-bottom: var(--line);
  @media only screen and(max-width:$bp-medium) {
    padding: 3rem;
  }
  @media only screen and(max-width:$bp-small) {
    flex-direction: column;
  }
}
.description {
  background-color: #fff;
  box-shadow: var(--color-shadow-light);
  padding: 3rem;
  flex: 0 0 60%;
  margin-right: 4.5rem;
  @media only screen and(max-width:$bp-medium) {
    padding: 2rem;
    margin-right: 3rem;
  }
  @media only screen and(max-width:$bp-small) {
    padding: 2rem;
    margin-right: 0;
    margin-bottom: 3rem;
  }
}
.user-reviews {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
